.formtitle {
  position: absolute;
  width: 184px;
  height: 32px;
  left: 120px;
  top: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #102544;
}
@media screen and (max-width: 360px) {
  .formtitle {
    position: absolute;
    width: 312px;
    height: 32px;
    left: 24px;
    top: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #102544;
    justify-content: center;
  }
}

.orderform {
  margin-top: 8px;
  position: absolute;
  width: 1190px;
  height: 328px;
  left: 88px;
  top: 88px;
  background: #ffffff;
  box-shadow: 3px 4px 21px #d0e4ef;
  border-radius: 16px;
}
@media screen and (max-width: 360px) {
  .orderform {
    position: absolute;
    width: 328px;
    height: 272px;
    left: 16px;
    top: 48px;
    background: #ffffff;
    box-shadow: 3px 4px 21px #d0e4ef;
    border-radius: 16px;
  }
}

.weight {
  margin-bottom: 0;
  width: 184px;
  height: 24px;
  margin-top: 32px;
  margin-left: 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #102544;
}
@media screen and (max-width: 360px) {
  .weight {
    width: 296px;
    height: 24px;
    margin-left: 16px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #102544;
  }
}

.weightinput {
  margin-left: 32px;
  margin-top: 16px;
  width: 376px;
  height: 40px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #c7dae4;
  border-radius: 8px;
}
@media screen and (max-width: 360px) {
  .weightinput {
    width: 296px;
    height: 40px;
    margin-left: 16px;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #c7dae4;
    border-radius: 8px;
  }
}

.weightinput::placeholder {
  text-align: right;
  margin-right: 16px;
}

.packetpoint {
  margin-left: 32px;
  margin-top: 24px;
  width: 184px;
  height: 24px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #102544;
}
@media screen and (max-width: 360px) {
  .packetpoint {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 0;
    width: 296px;
    height: 24px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #102544;
  }
}

.packetpointinput {
  margin-left: 32px;
  margin-top: 16px;
  width: 376px;
  height: 40px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #c7dae4;
  border-radius: 8px;
}
@media screen and (max-width: 360px) {
  .packetpointinput {
    width: 296px;
    height: 40px;
    margin-left: 16px;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #c7dae4;
    border-radius: 8px;
  }
}

.savebutton {
  margin-left: 32px;
  margin-top: 40px;
  width: 184px;
  height: 40px;
  background: #c7dae4;
  border-radius: 32px;
  border: none;
}
.savebutton:enabled {
  background: #17c873;
}
@media screen and (max-width: 360px) {
  .savebutton {
    margin-left: 16px;
    margin-top: 24px;
    width: 296px;
    height: 40px;
    background: #c7dae4;
    border-radius: 32px;
  }
}

.buttontext {
  width: 152px;
  height: 24px;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 360px) {
  .buttontext {
    width: 250.46px;
    height: 24px;
    margin-left: 14px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}
